<h1>Add New Stock</h1>
<%= form_tag '/stocks', method: :post do %>
	<div>
	<%= label_tag :name %>
	<%= text_field_tag :name %>
	</div>
	<div>
	<%= label_tag :price %>
	<%= text_field_tag :price %>
	</div>
	<%= submit_tag "New stock" %>
	<% end %>